{
	"color_file_path":"COLOR_PATH_HERE",
	"ctftime_file_path":"CTFTIME_SETTING_PATH_HERE",
	"bot_name":"BOT_NAME_HERE",
	"bot_logo_url":"https://cdn.discordapp.com/app-icons/996566589623259268/1cfd812cc3b49d628d90b402929a3669.png?size=512"
}
